.container {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}


.register-page {
  height: 100%;
}

.form {
  border-radius : 10px;
  width: 306px;
  background: #eee;
  text-align: center;
}