.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}


.login-page {
  height: 100%;
}

.form {
  border-radius : 10px;
  width: 306px;
  background: #eee;
  text-align: center;
}